In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Census API Key
from api_config import census_api_key
c = Census(census_api_key, year=2013)

In [9]:
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels

def census_by_year(year):

    census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E"), {'for': 'zip code tabulation area:*'}, year=year)

# Convert to DataFrame
    census_pd = pd.DataFrame(census_data)

# Column Reordering
    census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                          "B01002_001E": "Median Age",
                                          "B19013_001E": "Household Income",
                                          "B19301_001E": "Per Capita Income",
                                          "B17001_002E": "Poverty Count",
                                          "NAME": "Name",
                                          "zip code tabulation area": "Zipcode"})

    return census_pd

# Final DataFrame
#census_pd = census_pd[["Zipcode", "Per Capita Income"]]

# Visualize
print(len(census_pd))
census_pd.head()

33120

,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,Zipcode
0,ZCTA5 08518,74286.0,5217.0,41.5,33963.0,170.0,08518
1,ZCTA5 08520,90293.0,27468.0,37.4,37175.0,1834.0,08520
2,ZCTA5 08525,118656.0,4782.0,47.1,59848.0,43.0,08525
3,ZCTA5 08527,88588.0,54867.0,42.2,37021.0,2191.0,08527
4,ZCTA5 08528,58676.0,245.0,48.5,49117.0,0.0,08528

In [10]:
census_by_year(2017)

,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,Zipcode
0,ZCTA5 00601,11757.0,17599.0,38.9,7041.0,11282.0,00601
1,ZCTA5 00602,16190.0,39209.0,40.9,8978.0,20428.0,00602
2,ZCTA5 00603,16645.0,50135.0,40.4,10897.0,25176.0,00603
3,ZCTA5 00606,13387.0,6304.0,42.8,5960.0,4092.0,00606
4,ZCTA5 00610,18741.0,27590.0,41.4,9266.0,12553.0,00610
...,...,...,...,...,...,...,...
33115,ZCTA5 99923,-666666666.0,0.0,-666666666.0,-666666666.0,0.0,99923
33116,ZCTA5 99925,48646.0,901.0,45.1,24783.0,210.0,99925
33117,ZCTA5 99926,57969.0,1684.0,32.8,22927.0,224.0,99926
33118,ZCTA5 99927,17981.0,59.0,49.8,11959.0,49.0,99927
33119,ZCTA5 99929,55742.0,2455.0,49.0,29861.0,276.0,99929